@charset "UTF-8";
/* 引入cambio通用模块 */
/*	cambio通用颜色和样式变量
 *
 */
.vueChat-tabs {
  border-color: #E4E4E6;
  background-color: #fcfcfc;
  background-image: none; }

.bar-vueChat {
  background: rgba(255, 255, 255, 0) !important; }
  .bar-vueChat .bar-vueChat-text {
    color: #000; }

.slider-pager {
  bottom: 10px; }
  .slider-pager .slider-pager-page {
    color: rgba(0, 0, 0, 0.8); }
    .slider-pager .slider-pager-page.active {
      color: #fff; }
  .slider-pager .icon {
    font-size: 13px; }

.keybord {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  width: 100%;
  height: 200px;
  background: #D1D5DB; }
  .keybord .keybord-row {
    box-sizing: border-box;
    background-color: white;
    flex: 0 0 33.33333%;
    height: 50px;
    border: 1px solid #eeeeee;
    text-align: center;
    line-height: 50px;
    color: #444;
    font-size: 22px;
    font-weight: 500; }
  .keybord .disable-keybord {
    background: #d1d5db; }
    .keybord .disable-keybord > i {
      position: relative;
      bottom: 4px;
      font-size: 30px !important; }

.button-vueChat {
  border-color: transparent;
  background: 0 0;
  box-shadow: none;
  color: #000 !important; }

/* 尺寸 */
/* px / rem */
/* 前缀 */
/* 响应式 */
/* 定位 */
/* 三角形 */
/* 单行文本溢出显示省略号） */
/* 多行文本溢出显示省略号，参数（行数） */
/* 底部tab栏 和 底部的tab-icon */
.tabs-icon {
  color: #999; }
  .tabs-icon i {
    font-size: 20px !important; }

.tabs-icon-active {
  color: #4FC6CE; }

/*咨询室的列表*/】 */
@media screen and (min-width: 412px) {
  .chatroom {
    height: 736px !important; } }
.chatroom-bg {
  background: #f8f8f8 !important; }

.chatroom {
  width: 100%;
  height: 600px;
  overflow-y: auto; }
  .chatroom .chatroom-list {
    position: relative;
    width: 100%;
    height: 70px;
    background: #fbfbfb;
    border-bottom: 1px solid #efefef; }
    .chatroom .chatroom-list .chatroom-face {
      top: 16px;
      left: 20px;
      position: absolute;
      width: 20%;
      height: 70px; }
      .chatroom .chatroom-list .chatroom-face > img {
        width: 50px;
        height: 50px; }
    .chatroom .chatroom-list .chatroom-status {
      top: 16px;
      left: 71px;
      position: absolute;
      width: 17px;
      height: 17px;
      background: #ff6483;
      border-radius: 100%;
      text-align: center; }
      .chatroom .chatroom-list .chatroom-status > span {
        color: #fff;
        line-height: 17px;
        font-size: 12px; }
    .chatroom .chatroom-list .chatroom-basic {
      overflow: hidden;
      width: 80%;
      height: 40px;
      top: 10px;
      left: 80px;
      position: absolute;
      line-height: 40px; }
      .chatroom .chatroom-list .chatroom-basic .name {
        color: #54D1DD;
        font-size: 14px; }
      .chatroom .chatroom-list .chatroom-basic .time {
        top: 0px;
        right: 10px;
        position: absolute;
        font-size: 14px;
        color: #6a6a6a; }
    .chatroom .chatroom-list .chatroom-message {
      top: 40px;
      left: 80px;
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
      display: block;
      margin-top: 5px;
      font-size: 12px;
      width: 60%;
      color: #848484; }

.vueChat-panel {
  background-color: #FFFFFF;
  position: relative; }
  .vueChat-panel .panel__hd {
    padding: 2px 4px 2px 10px;
    font-size: 13px;
    color: #A7A7A7;
    position: relative;
    background-color: #EBEBEB; }
  .vueChat-panel .panel__bd {
    height: 60px;
    width: 100%; }
    .vueChat-panel .panel__bd .panel_text {
      height: 60px;
      width: 100%;
      position: relative;
      margin: auto 10px;
      border-bottom: 1px solid #eeeeee; }
      .vueChat-panel .panel__bd .panel_text > img {
        top: 5px;
        left: 10px;
        position: absolute;
        width: 50px;
        height: 50px; }
      .vueChat-panel .panel__bd .panel_text > span {
        top: 15px;
        left: 80px;
        position: absolute;
        color: #54D1DD; }

.addressList_hd {
  position: relative; }

.addressList_bd {
  position: relative;
  width: 100%;
  height: 600px;
  overflow-y: auto; }

.addressList_sidebar {
  top: 60px;
  right: 30px;
  position: absolute;
  width: 18px;
  background: #FF9900;
  font-size: 14px;
  text-align: center;
  background: rgba(238, 238, 238, 0.5); }
  .addressList_sidebar > span {
    height: 22px;
    display: block; }

@media screen and (min-width: 412px) {
  .mine {
    height: 736px !important; } }
.mine {
  position: relative;
  background: #EBEBEB;
  width: 100%;
  height: 620px;
  overflow: hidden; }
  .mine .mine_person {
    position: relative;
    background: #FFFFFF;
    margin: 25px 0px;
    width: 100%;
    height: 90px; }
    .mine .mine_person > img {
      top: 12px;
      left: 20px;
      position: absolute;
      width: 70px;
      height: 70px; }
    .mine .mine_person .mine_nickName {
      color: #54D1DD;
      top: 20px;
      left: 110px;
      position: absolute;
      font-size: 18px; }
    .mine .mine_person .mine_userName {
      top: 50px;
      left: 110px;
      position: absolute;
      color: #9E9E9E;
      font-size: 16px; }
    .mine .mine_person > i {
      top: 25px;
      right: 25px;
      position: absolute;
      font-size: 25px; }
  .mine .mine_collection {
    position: relative;
    background: #FFFFFF;
    margin: 25px 0px;
    width: 100%;
    height: 90px; }
    .mine .mine_collection .mine_collect {
      width: 100%;
      height: 45px;
      border-bottom: 1px solid #eeeeee; }
      .mine .mine_collection .mine_collect > span {
        top: 12px;
        left: 60px;
        position: absolute;
        font-size: 16px;
        text-align: center; }
      .mine .mine_collection .mine_collect > i {
        top: 10px;
        left: 25px;
        position: absolute;
        color: #54D1DD;
        font-size: 20px; }
    .mine .mine_collection .mine_photo {
      width: 100%;
      height: 45px; }
      .mine .mine_collection .mine_photo > span {
        top: 57px;
        left: 60px;
        position: absolute;
        font-size: 16px;
        text-align: center; }
      .mine .mine_collection .mine_photo > i {
        top: 55px;
        left: 25px;
        position: absolute;
        color: #54D1DD;
        font-size: 20px; }
  .mine .mine_bag {
    position: relative;
    background: #FFFFFF;
    margin: 25px 0px;
    width: 100%;
    height: 90px; }
    .mine .mine_bag .mine_money {
      width: 100%;
      height: 45px;
      border-bottom: 1px solid #eeeeee; }
      .mine .mine_bag .mine_money > span {
        top: 12px;
        left: 60px;
        position: absolute;
        font-size: 16px;
        text-align: center; }
      .mine .mine_bag .mine_money > i {
        top: 10px;
        left: 25px;
        position: absolute;
        color: #54D1DD;
        font-size: 20px; }
    .mine .mine_bag .mine_card {
      width: 100%;
      height: 45px; }
      .mine .mine_bag .mine_card > span {
        top: 57px;
        left: 60px;
        position: absolute;
        font-size: 16px;
        text-align: center; }
      .mine .mine_bag .mine_card > i {
        top: 55px;
        left: 25px;
        position: absolute;
        color: #54D1DD;
        font-size: 20px; }
  .mine .mine_look {
    position: relative;
    background: #FFFFFF;
    margin: 25px 0px;
    width: 100%;
    height: 50px; }
    .mine .mine_look > i {
      top: 10px;
      left: 25px;
      position: absolute;
      color: #54D1DD;
      font-size: 20px; }
    .mine .mine_look > span {
      top: 12px;
      left: 60px;
      position: absolute;
      font-size: 16px;
      text-align: center; }
  .mine .mine_set {
    position: relative;
    background: #FFFFFF;
    margin: 25px 0px;
    width: 100%;
    height: 50px; }
    .mine .mine_set > i {
      top: 10px;
      left: 25px;
      position: absolute;
      color: #54D1DD;
      font-size: 20px; }
    .mine .mine_set > span {
      top: 12px;
      left: 60px;
      position: absolute;
      font-size: 16px;
      text-align: center; }

/*登录 */
.login_bg {
  position: relative;
  background: #eeeeee; }
  .login_bg .login_picture {
    margin: 50px auto;
    width: 20%;
    height: 100px; }
    .login_bg .login_picture > img {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
  .login_bg .login_userName {
    background: #FFFFFF;
    margin-top: 10px;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #eeeeee; }
    .login_bg .login_userName > input {
      width: 100%;
      height: 45px;
      border: none;
      outline: medium;
      font-size: 18px; }
  .login_bg .login_password {
    background: #FFFFFF;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #eeeeee; }
    .login_bg .login_password > input {
      width: 100%;
      height: 45px;
      border: none;
      outline: medium;
      font-size: 18px; }
  .login_bg .bottom-button {
    text-align: center; }
    .login_bg .bottom-button .login-button {
      display: block;
      background: #54D1DD;
      width: 95%;
      height: 40px;
      margin: 22px auto;
      color: #fff;
      border: none;
      font-size: 18px;
      font-weight: 500;
      border-radius: 1%; }
      .login_bg .bottom-button .login-button[disabled] {
        opacity: 0.4; }
    .login_bg .bottom-button .login_forget {
      float: left;
      margin-left: 22px;
      color: #54D1DD; }
    .login_bg .bottom-button .login_register {
      float: right;
      margin-right: 22px; }
      .login_bg .bottom-button .login_register span {
        color: #54D1DD; }

/*# sourceMappingURL=main.css.map */
